@model IEnumerable<SceneSherpa.Models.Media>
@{
    string currentUsernameId = ViewData["CurrentUserIdUsername"] as string;
    List<string> userObj = new List<string>();

    userObj.AddRange(currentUsernameId.Split());
}
<h1>All Media</h1>
@foreach(var media in @Model)
{
    <ul>
        <li>@media.Type: <a href="/media/@media.Id">@media.Title</a></li>
    </ul>
}