<h1 style="text-align: center;">About the Developers</h1>

<div class="card border-secondary mb-3" style="max-width: 80rem;;">
    <div class="card-header"><a href="https://github.com/jeremy-kimball">GitHub</a> | <a href="https://www.linkedin.com/in/jeremyckimball/">LinkedIn</a></div>
    <div class="card-body">
        <h4 class="card-title">Jeremy Kimball</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 80rem;">
    <div class="card-header"><a href="https://github.com/jcepriano">GitHub</a> | <a href="https://www.linkedin.com/in/jamescepriano/">LinkedIn</a></div>
    <div class="card-body">
        <h4 class="card-title">James Cepriano</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 80rem;">
    <div class="card-header"><a href="https://github.com/bradenasmith2">GitHub</a> | <a href="https://www.linkedin.com/in/braden-smith2/">LinkedIn</a></div>
    <div class="card-body">
        <h4 class="card-title">Braden Smith</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<h1 style="text-align: center;">About Scene Sherpa</h1>