<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">



<h1 style="text-align: center;" class="drop-shadow">About the Developers</h1>

<div class="about card border-secondary mb-3" style="max-width: 80rem;;">
    <div class="card-header"><i class="bi bi-github"></i> <a href="https://github.com/jeremy-kimball">GitHub</a> | <i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/jeremyckimball/">Linkedin</a></div>
    <div class="card-body">
        <h4 class="card-title">Jeremy Kimball</h4>
        <p class="card-text">Building a review system that fosters meaningful discussions among friends is what drives me at SceneSherpa. We believe that the best movie nights are those where you can engage in lively conversations with your loved ones. I'm here to make sure our platform facilitates those conversations and adds depth to your entertainment choices.</p>
    </div>
</div>
<div class="about card border-secondary mb-3" style="max-width: 80rem;">
    <div class="card-header"><i class="bi bi-github"></i> <a href="https://github.com/jcepriano">GitHub</a> | <i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/jamescepriano/">Linkedin</a></div>
    <div class="card-body">
        <h4 class="card-title">James Cepriano</h4>
        <p class="card-text">At SceneSherpa, my focus as a developer is on providing a truly unique user experience. I'm dedicated to creating interfaces and features that surprise and delight, ensuring that your journey through our platform is not only intuitive but also unforgettable. We're here to redefine entertainment discovery, offering an immersive, engaging experience that sets us apart. SceneSherpa: Where innovation meets entertainment.</p>
    </div>
</div>
<div class="about card border-secondary mb-3" style="max-width: 80rem;">
    <div class="card-header"><i class="bi bi-github"></i> <a href="https://github.com/bradenasmith2">GitHub</a> | <i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/braden-smith2/">Linkedin</a></div>
    <div class="card-body">
        <h4 class="card-title">Braden Smith</h4>
        <p class="card-text">At SceneSherpa, my primary focus is on delivering a meticulously designed layout. I believe that a well-crafted user interface is the foundation of an exceptional user experience. My goal is to ensure that every interaction with SceneSherpa feels intuitive, visually appealing, and seamlessly organized. We're dedicated to creating a platform where aesthetics meet functionality, making your journey through our app not only enjoyable but also visually pleasing. SceneSherpa: Where thoughtful design enhances your entertainment discovery.</p>
    </div>
</div>

<h1 style="text-align: center;" class="about-header drop-shadow">About Scene Sherpa</h1>
<div class="card border-secondary mb-3 about">
    <div class="about card-header"><a href="https://github.com/jcepriano/SceneSherpa">Project</a></div>
    <div class="about card-body">
        <ul class="list-style-none about-ul">
            <li class="about-li">
                At SceneSherpa, our mission is to enhance the way you discover and enjoy movies and TV shows by fostering meaningful connections with friends, family, and coworkers. We believe that the most valuable recommendations come from those you trust, and that's why we've built a platform dedicated to facilitating personal, trusted, and genuine recommendations. We understand that the world of entertainment can be overwhelming, with an endless array of choices.
            </li>
            <li class="about-li">
                In a world cluttered with impersonal reviews from strangers, we recognize the unique value of personal connections and shared experiences. With SceneSherpa, you can effortlessly connect with your inner circle, exchanging authentic recommendations that resonate with your tastes and preferences. Say goodbye to endless scrolling and hello to a curated selection of entertainment options tailored to your unique interests.
            </li >
            <li class="about-li">
                Join us on this exciting journey as we reshape the way you explore the world of movies and TV shows, making every night in front of the screen an opportunity for connection, discovery, and shared enjoyment. Together, we'll create a vibrant tapestry of cinematic experiences that brings us closer and enriches our lives.
            </li>
            <li class="card-footer about-footer">
                Where recommendations are personal, connections are meaningful, and entertainment is an unforgettable shared adventure.
            </li>
        </ul>
    </div>
</div>