@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align: center">Sorry, That page doesn't exist.</h1>
<div style="text-align:center">
    <!--placeholder image-->
    <img style="align-content: center" src="/Resources/kisspng-web-development-http-404-world-wide-web-website-we-blue-cartoon-monster-5a9c0ec9a71433.7792287715201768416844.png" alt="404 Robot">
</div>
