<h1>Privacy</h1>
<br />
<strong>SceneSherpa Privacy Policy</strong>
<p>Last Updated: September 21, 2023</p>
<p>
    Welcome to SceneSherpa, your go-to media database for all things media. At SceneSherpa,
    we value your privacy and are committed to handling your information with care and sensibility. 
    This Privacy Policy outlines how we collect and process your personal information when you use our website and services.</p>
<br />
<h2>Personal Information Collection</h2>
<p>We collect your personal information to enhance your experience on SceneSherpa and continually improve our services. 
    Here's the type of information we collect:</p>
<h5>Automatic Information:</h5>
<p>We automatically collect and store certain types of information about your interactions with our website to enhance functionality and improve user experience.</p>
<h5>Information from Other Sources:</h5>
<p>We might receive information about you from third-party login services, such as your name and email address when you sign in using these services.</p>
<br />
<h2>Purposes of Personal Information Use</h2>
<p>We use your personal information to operate, provide, and enhance our media database services. These purposes include:</p>
<ul>
    <li>Providing and improving SceneSherpa services</li>
    <li>Complying with legal obligations</li>
    <li>Communicating with you</li>
    <li>Preventing fraud</li>
    <li>Advertising that does not personally identify you</li>
</ul>
<br />
<h2>Cookies and Other Identifiers</h2>
<p>We use cookies and similar technologies to enhance your experience on our website and provide essential features and services, 
    including personalized content. By using our website, you consent to the use of cookies as described in our Cookie Policy.</p>
<br />
<h2>Advertising</h2>
<p>We may display third-party advertising on our website. Please refer to our Advertising Policy for more information on 
    third-party advertising and how to manage your advertising preferences.</p>
<br />
<h2>Security Measures</h2>
<p>We prioritize the security of your personal information. We use encryption and maintain physical, electronic, and procedural safeguards to protect your data.</p>
<br />
<h2>Updates to this Privacy Policy</h2>
<p>We may update this Privacy Policy periodically. Please review this page for the latest information. Your continued use of SceneSherpa indicates your acceptance of these updates.</p>