<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

@{
    string incorrect = ViewData["Incorrect"] as string;
    string currentUsernameId = ViewData["CurrentUserIdUsername"] as string;
    List<string> userObj = new List<string>();

    userObj.AddRange(currentUsernameId.Split());
}
<h1 style="text-align: center; margin-top: 100px;">Do you really want to leave SceneSherpa?</h1>

<div class="">
    <form class="delete-short login" method="post" action="/users/@userObj[0]/delete">
        <h3>Delete @userObj[1]?</h3>

        <h4 style="text-align: center;">Confirm Your Password</h4>

        <label for="password" class="login-form-label">Password</label>
        <input type="password" placeholder="Password" id="password" class="login-form-input" name="password">

        @if (incorrect != null)
        {
            <p class="error" style="color: salmon; position: absolute; margin-bottom: -10px;">@incorrect</p>
        }

        <button "submit" onclick="return confirm('Are You Sure You Want To Delete The Profile For @userObj[1]')" class="login-button">Delete</button>
        <a href="/Users/@userObj[0]" style="text-align: center;">Go Back</a>
    </form>
</div>