@{
    string incorrect = ViewData["Incorrect"] as string;
    string currentUsernameId = ViewData["CurrentUserIdUsername"] as string;
    List<string> userObj = new List<string>();

    userObj.AddRange(currentUsernameId.Split());
}
<h1>Do you really want to leave SceneSherpa?</h1>

<div class="login">
    <form class="login" method="post" action="/users/@userObj[0]/delete">
        <h3>Delete @userObj[1]?</h3>

        <h4>Confirm Your Password</h4>

        <label for="password" class="login-form-label">Password</label>
        <input type="password" placeholder="Password" id="password" class="login-form-input" name="password">

        @if (incorrect != null)
        {
            <p class="error" style="color: salmon; position: absolute; margin-bottom: -10px;">@incorrect</p>
        }

        <button "submit" onclick="return confirm('Are You Sure You Want To Delete The Profile For @userObj[1]')" class="login-button">Delete</button>
    </form>
</div>