@{
    string incorrect = ViewData["FailedLogin"] as string;
}

<h2>Login to Your Account!</h2>

<form action="/users/login/attempt" method="post">

    <label for="Username">Username: </label>
    <input type="text" id="Username" name="Username" />

    <label for="Password">Password</label>
    <input type="password" id="Password" name="Password" />

    @if(incorrect != null)
    {
        <h6 style="color: red">@incorrect</h6>
    }

    <button type="submit">Login</button>

</form>