@{
    string errorMessage = ViewData["ErrorMessage"] as string;
}
<link rel="stylesheet" href="css/site.css" />

<h2>Create Your Account!</h2>

<form method="post" action="/users">

    <div class="new-form">
        <label for="Name">Name: </label>
        <input type="text" id="Name" name="Name" required/>

        <label for="Username">Username: </label>
        <input type="text" id="Username" name="Username" required />

        <label for="Email">Email: </label>
        <input type="email" id="Email" name="Email" required />

        <label for="Age">Age: </label>
        <input type="number" id="Age" name="Age" required />

        <label for="Password">Password: </label>
        <input type="password" id="Password" name="Password" required />
    </div>
    @if(errorMessage != null)
    {
        <h4 style="color: red">@errorMessage</h4>
    }
    <button type="submit" class="submit-button">Create Account</button>

</form>

<!--<script>
    function checkUsernameAvailability() {
        const username = document.getElementById("Username").value;
        const availabilityMessage = document.getElementById("availabilityMessage");
        const isUsernameAvailable = checkUsernameOnServer(username);

        if (!isUsernameAvailable) {
            availabilityMessage.innerText = "Username already exists";
            return false;
        }

        availabilityMessage.innerText = "";
        return true;
    }
</script>
-->
